{% extends "front/layout.twig" %}
{% block content %}
    <div class="container policies">
		<h2 class="title">سياسة الخصوصية</h2>
		<hr>
        <div class="content">
        </div>
	</div>
{% endblock %}