{% extends "front/layout.twig" %}
{% block content %}
    <div class="container policies">
		<h2 class="title">اتصل بنا</h2>
		<hr>
        <div class="content">
        الهاتف : 
        <span dir="ltr">06 xx xx xx xx</span>
        <br>
        العنوان : 
        المغرب

<br>
        البريد الإلكتروني:
        shopynet@gmail.com
<br>

        مواقيت العمل:
        من الإثنين إلى السبت: من التاسعة صباحا إلى السابعة مساء
        </div>
	</div>
{% endblock %}