{% extends "front/layout.twig" %}
{% block content %}
    <div class="container policies">
		<h2 class="title">سياسة الارجاع</h2>
		<hr>
        <div class="content">
                سياسة الاسترجاع تشمل جميع منتجات متجر شوبي نيت 
<br>
        أن يكون المنتج في نفس حالته الأصلية عند الشراء ومغلفا بالغلاف الأصلي ولم يتم استعماله او فتحه ابدا .
<br>
        يجب على الزبون الإدلاء برقم حسابه البنكي، بعد 48 إلى 72 سيتم إعادة مبلغ طلبك ناقص 49 درهم مصاريف الشحن إلى حسابك البنكي .
<br>
        في حال وصول منتج خاطئ إليكم، او غير مطابق لمواصفات المنتج، أو وصول شحنة في حالة غير سليمة، فإن متجر “شوبي نيت” يتحمل كافة تكاليف الشحن والاستبدال.
<br>
        لا يوجد لدينا استبدال للمنتجات وانما فقط ارجاع.
        </div>
	</div>
{% endblock %}