

<div class="row_info">
   <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-award"></i>
      <h5 class="font-weight-bold my-4">الضمانة على المنتج</h5>
      <p class="grey-text mb-md-0 mb-5">نضمن لكم جميع المنتجات التي تصلكم من متجرنا
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-money-bill-wave"></i>
      <h5 class="font-weight-bold my-4">الدفع  عند الإستلام</h5>
      <p class="grey-text mb-md-0 mb-5">لن تدفع ثمن المنتوج حتى تستلمه بين يديك</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-truck"></i>
      <h5 class="font-weight-bold my-4">التوزيع السريع</h5>
      <p class="grey-text mb-0">التوزيع السريع في جميع أنحاء المملكة المغربية 
      </p>

    </div>
    <!-- Grid column -->

  </div>


</div>



